{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id="form-fifth" action='{{ path("submission_new_fifth_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-fifth-step') }}"/>
                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h3>{% trans %}Fulltext{% endtrans %}</h3>
                            <h5>{% trans %}Insert here the fulltext of the reported experience{% endtrans %}:</h5>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                {# <strong class="field-label">{% trans %}Fulltext{% endtrans %}</strong> #}
                                {# <label for="textarea-fulltext">{% trans %}Insert here the fulltext of the reported experience{% endtrans %}:</label> #}
                                <textarea rows="6" class="form-control" name='fulltext' id='textarea-fulltext'>{{ submission.fullText }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h3>{% trans %}Document{% endtrans %}</h3>
                            <h5>{% trans %}Share the fulltext document about the reported experience{% endtrans %}</h5>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <table class='table table-hover table-condensed' id='table-document'>
                                    <thead>
                                        <tr>
                                            <th>{% trans %}File name{% endtrans %}</th>
                                            <th>{% trans %}Date & Time{% endtrans %}</th>
                                            <th>{% trans %}Actions{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% set submission_documents = false %}
                                        {% for file in submission.attachments if file.uploadType.slug == 'document' %}
                                            {% set submission_documents = true %}
                                            <tr>
                                                <td>{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                                                <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                                <td>
                                                    <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                                    <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                                        <i class='glyphicon glyphicon-trash'></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>
                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-document" {% if submission_documents %}disabled{% endif %}>{% trans %}Upload file{% endtrans %}</a>
                        </div>
                    </div>
                    
                    <br />
{#
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textarea-other-docs"><b>{% trans %}More documents{% endtrans %} ({% trans %}hyperlinks only{% endtrans %}):</b></label>
                                <textarea rows="6" class="form-control" name='other_docs' id='textarea-other-docs' placeholder="{% trans %}Please add one hyperlink per line{% endtrans %}">{{ submission.otherDocs }}</textarea>
                            </div>
                        </div>
                    </div>
#}
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h3>{% trans %}Images{% endtrans %}</h3>
                            <h5>{% trans %}Share photos and/or other images illustrating the reported experience{% endtrans %}</h5>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <table class='table table-hover table-condensed' id='table-image'>
                                    <thead>
                                        <tr>
                                            <th>{% trans %}File name{% endtrans %}</th>
                                            <th>{% trans %}Date & Time{% endtrans %}</th>
                                            <th>{% trans %}Actions{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in submission.attachments if file.uploadType.slug == 'image' %}
                                            <tr>
                                                <td>{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                                                <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                                <td>
                                                    <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                                    <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                                        <i class='glyphicon glyphicon-trash'></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>
                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-image">{% trans %}Upload file{% endtrans %}</a>
                        </div>
                    </div>
                </div>

                <br />

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h3>{% trans %}Videos{% endtrans %}</h3>
                            <h5>{% trans %}Share videos with testimonials from the person responsible, teams and/or population involved with the reported experience{% endtrans %}:</h5>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <table class='table table-hover table-condensed' id='table-document'>
                                    <thead>
                                        <tr>
                                            <th>{% trans %}File name{% endtrans %}</th>
                                            <th>{% trans %}Date & Time{% endtrans %}</th>
                                            <th>{% trans %}Actions{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in submission.attachments if file.uploadType.slug == 'video' %}
                                            <tr>
                                                <td>{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                                                <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                                <td>
                                                    <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                                    <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                                        <i class='glyphicon glyphicon-trash'></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>
                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-video">{% trans %}Upload file{% endtrans %}</a>
                        </div>
                    </div>
                    
                    <br />

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textarea-other-videos"><b>{% trans %}Video embed code{% endtrans %}:</b></label>
                                <textarea rows="6" class="form-control" name='other_videos' id='textarea-other-videos' placeholder="{% trans %}Please paste the embed code here{% endtrans %}">{{ submission.otherVideos }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h3>{% trans %}Other medias{% endtrans %}</h3>
                            <h5>{% trans %}Share other media related to the reported experience{% endtrans %}</h5>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <table class='table table-hover table-condensed' id='table-media'>
                                    <thead>
                                        <tr>
                                            <th>{% trans %}File name{% endtrans %}</th>
                                            <th>{% trans %}Date & Time{% endtrans %}</th>
                                            <th>{% trans %}Actions{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in submission.attachments if file.uploadType.slug == 'others' %}
                                            <tr>
                                                <td>{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                                                <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                                <td>
                                                    <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                                    <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                                        <i class='glyphicon glyphicon-trash'></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>
                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-media">{% trans %}Upload file{% endtrans %}</a>
                        </div>
                    </div>

                    <br />
{#
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textarea-other-medias"><b>{% trans %}More medias{% endtrans %} ({% trans %}hyperlinks only{% endtrans %}):</b></label>
                                <textarea rows="6" class="form-control" name='other_medias' id='textarea-other-medias' placeholder="{% trans %}Please add one hyperlink per line{% endtrans %}">{{ submission.otherMedias }}</textarea>
                            </div>
                        </div>
                    </div>
#}
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Novo Documento -->
    <div class="modal fade" id="modal-new-document" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-document' enctype="multipart/form-data" action="{{ path("submission_new_fifth_step", {submission_id: submission.id}) }}">

                <input type="hidden" name="token" value="{{ csrf_token('submission-fifth-step') }}"/>
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 50*1024*1024 }}" />

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Document{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-new-document">{% trans %}File{% endtrans %}:</label> 
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 12} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-document' id='input-new-document' required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Nova Imagem -->
    <div class="modal fade" id="modal-new-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-image' enctype="multipart/form-data" action="{{ path("submission_new_fifth_step", {submission_id: submission.id}) }}">

                <input type="hidden" name="token" value="{{ csrf_token('submission-fifth-step') }}"/>
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 50*1024*1024 }}" />

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Image{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-new-image">{% trans %}File{% endtrans %}:</label> 
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 12} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-image' id='input-new-image' required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Novo Video -->
    <div class="modal fade" id="modal-new-video" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-video' enctype="multipart/form-data" action="{{ path("submission_new_fifth_step", {submission_id: submission.id}) }}">

                <input type="hidden" name="token" value="{{ csrf_token('submission-fifth-step') }}"/>
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 50*1024*1024 }}" />

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Video{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-new-video">{% trans %}File{% endtrans %}:</label> 
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 12} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-video' id='input-new-video' required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal New Media -->
    <div class="modal fade" id="modal-new-media" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-media' enctype="multipart/form-data" action="{{ path("submission_new_fifth_step", {submission_id: submission.id}) }}">

                <input type="hidden" name="token" value="{{ csrf_token('submission-fifth-step') }}"/>
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 50*1024*1024 }}" />

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Media{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-new-media">{% trans %}File{% endtrans %}:</label> 
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 12} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-media' id='input-new-media' required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão -->
    <div class="modal fade" id="modal-delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-attachment' action="{{ path("submission_new_fifth_step", {submission_id: submission.id}) }}">
                
                <input type="hidden" name="token" value="{{ csrf_token('submission-fifth-step') }}"/>
                <input type="hidden" name="delete-attachment-id" id='hidden-delete-attachment' value="" />

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this attachment?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#table-document, #table-image, #table-media").on("click", ".button-delete-attachment", function(e){
                var id = $(this).data('id');
                $("#hidden-delete-attachment").val(id);
            });
            $('#modal-delete-attachment').on('hidden.bs.modal', function () {
                $("#hidden-delete-attachment").val("");
            });
        });
    </script>
{% endblock %}