{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id="form-fifth" action='{{ path("submission_new_fifth_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-fifth-step') }}"/>
                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h4>{% trans %}Share photos, brochures and other materials that illustrate the practice or experience reported and lived{% endtrans %}</h4>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <fieldset>
                                <table class='table table-hover table-condensed' id='table-attachment'>
                                    <thead>
                                        <tr>
                                            <th>{% trans %}File name{% endtrans %}</th>
                                            <th>{% trans %}Date & Time{% endtrans %}</th>
                                            <th>{% trans %}Actions{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for file in submission.attachments %}
                                            <tr>
                                                <td>{% if file.uploadType.slug in ['protocol'] %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                                                <td>{{ file.created|date("d/m/Y H:i") }}</td>
                                                <td>
                                                    <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                                    <a href='#' class='btn btn-default btn-xs button-delete-attachment' data-id='{{ file.id }}' data-toggle="modal" data-target="#modal-delete-attachment">
                                                        <i class='glyphicon glyphicon-trash'></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </fieldset>

                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-file">{% trans %}New Attachment{% endtrans %}</a>
                        </div>
                    </div>

                    <div class='row submission-meta'></div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Other Medias{% endtrans %}</strong>
                                <label for="textarea-other-medias">{% trans %}For videos, websites and other medias, please insert in this field{% endtrans %} ({% trans %}hyperlinks only{% endtrans %}):</label>
                                <textarea rows="6" class="form-control" name='other_medias' id='textarea-other-medias' placeholder="{% trans %}Please add one hyperlink per line{% endtrans %}">{{ submission.otherMedias }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Products{% endtrans %}</strong>
                                <label for="textarea-products-information">{% trans %}Use this field to share documents, publications, materials or news related to your experience{% endtrans %}:</label>
                                <textarea rows="6" class="form-control" name='products_information' id='textarea-products-information' placeholder="{% trans %}Please add one per line{% endtrans %}">{{ submission.productsInformation }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Keywords{% endtrans %}</strong>
                                <label for="input_title">{% trans %}Keywords that represent the themes or issues related to the reported experience. Select at least 3 DeCS descriptors - Health Sciences Descriptors{% endtrans %}:</label>
                                <input type="text" class="form-control" name='keywords' id='input_keywords' placeholder="{% trans %}insert keywords here{% endtrans %}"  value="{{ submission.keywords }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Novo Arquivo -->
    <div class="modal fade" id="modal-new-file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-new-attachment' enctype="multipart/form-data" action="{{ path("submission_new_fifth_step", {submission_id: submission.id}) }}">

                <input type="hidden" name="token" value="{{ csrf_token('submission-fifth-step') }}"/>
                <input type="hidden" name="MAX_FILE_SIZE" value="{{ 50*1024*1024 }}" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-new-attachment-file">{% trans %}File{% endtrans %}:</label> 
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 12} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <input type='file' class='form-control' name='new-attachment-file' id='input-new-attachment-file' required>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Send{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão -->
    <div class="modal fade" id="modal-delete-attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-attachment' action="{{ path("submission_new_fifth_step", {submission_id: submission.id}) }}">
                
                <input type="hidden" name="token" value="{{ csrf_token('submission-fifth-step') }}"/>
                <input type="hidden" name="delete-attachment-id" id='hidden-delete-attachment' value="" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Attachment{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this attachment?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            // $('[name=keywords]').tagify();
            var element = document.querySelector('[name=keywords]');
            new Tagify(element);

            $("#table-attachment").on("click", ".button-delete-attachment", function(e){
                var id = $(this).data('id');
                $("#hidden-delete-attachment").val(id);
            });

            $('#modal-delete-attachment').on('hidden.bs.modal', function () {
                $("#hidden-delete-attachment").val("");
            });
        });
    </script>
{% endblock %}
