{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <ul class="nav nav-tabs" id='new-submission-tab'>
                    <li role="presentation" class='active'><a href="javascript:void(0)" title="{% trans %}Identification{% endtrans %}">{% trans %}Identification{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Description{% endtrans %}">{% trans %}Description{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Experience{% endtrans %}">{% trans %}Experience{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Team{% endtrans %}">{% trans %}Team{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Documents and Medias{% endtrans %}">{% trans %}Documents and Medias{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Other Information{% endtrans %}">{% trans %}Other Information{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Revision{% endtrans %}">{% trans %}Revision{% endtrans %}</a></li>
                </ul>
            </div>
        </div>

        <div class='new-submission-tab-content'>
            <div class='row submission-meta'></div>
            <form id="form-first" class='form' method='POST' action='{{ path("submission_new_first_step") }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-first-step') }}"/>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="select-language"><b>*{% trans %}Language{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-language' name='language' data-size="5" required>
                                    <option value="">-</option>
                                    <option value="pt_BR" {% if app.request.locale == 'pt_BR' %}selected{% endif %}>Português</option>
                                    <option value="es_ES" {% if app.request.locale == 'es_ES' %}selected{% endif %}>Español</option>
                                    <option value="en" {% if app.request.locale == 'en' %}selected{% endif %}>English</option>
                                    <option value="fr_FR" {% if app.request.locale == 'fr_FR' %}selected{% endif %}>Français</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">*{% trans %}Experience title{% endtrans %}</strong>
                                <label for="input_title">{% trans %}What is the title of the experience to be reported?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='title' id='input_title' value='{% if post_data.title %}{{ post_data.title }}{% endif %}' required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="select-collection"><b>*{% trans %}Collection{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class='form-control selectpicker' id='select-collection' name='collection[]' data-size="5" data-width="fit" data-live-search="true" title="{% trans %}Select one or more collections{% endtrans %}" multiple required>
                                        {% for col in collection %}
                                            <option value="{{ col.id }}" data-slug="{{ col.slug }}" {% if col.id in post_data.collection %}selected{% endif %}>{{ col.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="select-thematic-area"><b>*{% trans %}Thematic area{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class='form-control selectpicker' id='select-thematic-area' name='thematic-area[]' data-size="5" data-width="fit" data-live-search="true" title="{% trans %}Select one or more thematic areas{% endtrans %}" multiple required>
                                        {% for ta in thematic_area %}
                                            <option value="{{ ta.id }}" data-col="{{ ta.collection.slug }}" {% if ta.id in post_data.thematic_area %}selected{% endif %}>{{ ta.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">*{% trans %}Experience status{% endtrans %}</strong>
                                <label for="select-status">{% trans %}What is the current status of the experience?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-status' name='status' data-size="5" data-live-search="true" required>
                                    <option value="">-</option>
                                    {% for key, value in status %}
                                        <option value="{{ key }}" {% if post_data.status == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="input-start-date"><b>*{% trans %}Start Date{% endtrans %} (YYYY-MM-DD):</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class='form-control' id='input-start-date' name='start-date' value='{% if post_data.startDate %}{{ post_data.startDate|date("Y-m-d") }}{% endif %}' required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-6">
                            <label for="input-end-date"><b>*{% trans %}End Date{% endtrans %} (YYYY-MM-DD) {% trans %}and/or current{% endtrans %}:</b></label>
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <div class="form-group row">
                                <div class="col-xs-9">
                                    <input type="text" class='form-control' id='input-end-date' name='end-date' value='{% if post_data.endDate %}{{ post_data.endDate|date("Y-m-d") }}{% endif %}' required>
                                </div>
                                <div class="checkbox input-checkbox">
                                    <input type="checkbox" id='input-current-date' name='current_date' value="true" {% if post_data.current_date %}checked{% endif %}>
                                    <label for="input-current-date">{% trans %}Current date{% endtrans %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            var _options = $("#select-thematic-area option");
            $('#select-collection').on('changed.bs.select loaded.bs.select', function(e) {
                var options = [];
                var col_list = [];

                $("#select-collection :selected").map(function(i, el) {
                    var slug = $(el).data('slug');
                    col_list.push(slug);
                });

                if (col_list.length === 0) {
                    options = _options;
                } else {
                    _options.map(function(i, el) {
                        var col = $(el).data('col');
                        if($.inArray(col, col_list) !== -1) {
                            options.push(el);
                        }
                    });
                }

                if ('changed' == e.type) $('#select-thematic-area').selectpicker('val', '');
                $("#select-thematic-area").empty().append(options).selectpicker("refresh");
            });

            $("#input-start-date").mask("9999-99-99");
            $("#input-end-date").mask("9999-99-99");
        });
    </script>
{% endblock %}
