{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <ul class="nav nav-tabs" id='new-submission-tab'>
                    <li role="presentation" class='active'><a href="javascript:void(0)" title="{% trans %}Basic Information{% endtrans %}">{% trans %}Basic Information{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Type / Description{% endtrans %}">{% trans %}Type / Description{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Effectiveness / Efficiency / Adaptability / Replicability{% endtrans %}">{% trans %}Effectiveness / Efficiency / Adaptability / Replicability{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Relevance / Recognition / Engagement{% endtrans %}">{% trans %}Relevance / Recognition / Engagement{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Multimedia / Conclusion{% endtrans %}">{% trans %}Multimedia / Conclusion{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Sources / Comments{% endtrans %}">{% trans %}Sources / Comments{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Revision{% endtrans %}">{% trans %}Revision{% endtrans %}</a></li>
                </ul>
            </div>
        </div>

        <div class='new-submission-tab-content'>
            <div class='row submission-meta'></div>
            <form id="form-first" class='form' method='POST' action='{{ path("submission_new_first_step") }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-first-step') }}"/>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Basic Information{% endtrans %}</h2>
                        </div>
                    </div>
{#
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="select-language">{% trans %}Language{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-language' name='language' data-size="5" required>
                                    <option value="">-</option>
                                    <option value="pt_BR" {% if app.request.locale == 'pt_BR' %}selected{% endif %}>Português</option>
                                    <option value="es_ES" {% if app.request.locale == 'es_ES' %}selected{% endif %}>Español</option>
                                    <option value="en" {% if app.request.locale == 'en' %}selected{% endif %}>English</option>
                                    <option value="fr_FR" {% if app.request.locale == 'fr_FR' %}selected{% endif %}>Français</option>
                                </select>
                            </div>
                        </div>
                    </div>
#}
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="input_title">{% trans %}Title of the Best Practice{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='title' id='input_title' value='{% if post_data.title %}{{ post_data.title }}{% endif %}' required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="select-best-practice-type">{% trans %}This Best Practice is related to{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-best-practice-type' name='best_practice_type' data-size="5" data-live-search="true" required>
                                    <option value="">-</option>
                                    {% for bp_type in best_practice_type %}
                                        <option value="{{ bp_type.id }}" data-slug="{{ bp_type.slug }}" {% if post_data.best_practice_type == bp_type.id %}selected{% endif %}>{{ bp_type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="select-best-practice-role">{% trans %}What's your role on this Best Practice{% endtrans %}?</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-best-practice-role' name='best_practice_role' data-size="5" data-live-search="true" required>
                                    <option value="">-</option>
                                    {% for bp_role in best_practice_role %}
                                        <option value="{{ bp_role.id }}" data-slug="{{ bp_role.slug }}" {% if post_data.best_practice_role == bp_role.id %}selected{% endif %}>{{ bp_role.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group hide required">
                                <label for="input_other_best_practice_role">{% trans %}Other Role{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='other_best_practice_role' id='input_other_best_practice_role'>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="select-institution">{% trans %}Type of institution reporting the Best Practice{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-institution' name='institution' data-size="5" data-live-search="true" required>
                                    <option value="">-</option>
                                    {% for inst in institution %}
                                        <option value="{{ inst.id }}" data-slug="{{ inst.slug }}" {% if post_data.institution == inst.id %}selected{% endif %}>{{ inst.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group hide required">
                                <label for="input_other_institution">{% trans %}Other Institution{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='other_institution' id='input_other_institution'>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="input_institution_name">{% trans %}Institution's Name{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='institution_name' id='input_institution_name' required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="select-stakeholder">{% trans %}Counterparts and Partnerships{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-stakeholder' name='stakeholder' data-size="5" data-live-search="true" required>
                                    <option value="">-</option>
                                    {% for sh in stakeholder %}
                                        <option value="{{ sh.id }}" data-slug="{{ sh.slug }}" {% if post_data.stakeholder == sh.id %}selected{% endif %}>{{ sh.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group hide required">
                                <label for="input_other_stakeholder">{% trans %}Other Counterparts and Partnerships{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='other_stakeholder' id='input_other_stakeholder'>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group hide required">
                                <label for="select-best-practice-entity">{% trans %}Entity (PAHO){% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-best-practice-entity' name='best_practice_entity' data-size="5" data-live-search="true">
                                    <option value="">-</option>
                                    {% for bp_entity in best_practice_entity %}
                                        <option value="{{ bp_entity.id }}" {% if post_data.best_practice_entity == bp_entity.id %}selected{% endif %}>{{ bp_entity.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group hide required">
                                <label for="input_reference_number">{% trans %}Reference Number of the Technical Cooperation{% endtrans %} ({% trans %}example{% endtrans %}: TC80, Grant#OVI314, CUB-27, BRA-76):</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='reference_number' id='input_reference_number' value='{% if post_data.reference_number %}{{ post_data.reference_number }}{% endif %}'>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $( "#select-best-practice-type" ).on( "change", function() {
                var slug = $(this).find(':selected').data('slug');
                if ( 'paho-who-technical-cooperation' == slug ) {
                    $("#select-best-practice-entity").parent().parent().removeClass("hide");
                    $("#select-best-practice-entity").prop('required',true);
                    $("#input_reference_number").parent().removeClass("hide");
                    $("#input_reference_number").prop('required',true);
                } else {
                    $("#select-best-practice-entity").parent().parent().addClass("hide");
                    $("#select-best-practice-entity").prop('required',false);
                    $("#input_reference_number").parent().addClass("hide");
                    $("#input_reference_number").prop('required',false);
                }
            });

            $( "#select-best-practice-role" ).on( "change", function() {
                var slug = $(this).find(':selected').data('slug');
                if ( 'other' == slug ) {
                    $("#input_other_best_practice_role").parent().removeClass("hide");
                    $("#input_other_best_practice_role").prop('required',true);
                } else {
                    $("#input_other_best_practice_role").parent().addClass("hide");
                    $("#input_other_best_practice_role").prop('required',false);
                }
            });

            $( "#select-institution" ).on( "change", function() {
                var slug = $(this).find(':selected').data('slug');
                if ( 'other' == slug ) {
                    $("#input_other_institution").parent().removeClass("hide");
                    $("#input_other_institution").prop('required',true);
                } else {
                    $("#input_other_institution").parent().addClass("hide");
                    $("#input_other_institution").prop('required',false);
                }
            });

            $( "#select-stakeholder" ).on( "change", function() {
                var slug = $(this).find(':selected').data('slug');
                if ( 'other' == slug ) {
                    $("#input_other_stakeholder").parent().removeClass("hide");
                    $("#input_other_stakeholder").prop('required',true);
                } else {
                    $("#input_other_stakeholder").parent().addClass("hide");
                    $("#input_other_stakeholder").prop('required',false);
                }
            });
        });
    </script>
{% endblock %}
