{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form id="form-first-created" class='form' method='POST' action='{{ path("submission_new_first_created_protocol_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-first-step-created') }}"/>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="select-language"><b>*{% trans %}Language{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-language' name='language' data-size="5" required>
                                    <option value="">-</option>
                                    <option value="pt_BR" {% if submission.language == 'pt_BR' %}selected{% endif %}>Português</option>
                                    <option value="es_ES" {% if submission.language == 'es_ES' %}selected{% endif %}>Español</option>
                                    <option value="en" {% if submission.language == 'en' %}selected{% endif %}>English</option>
                                    <option value="fr_FR" {% if submission.language == 'fr_FR' %}selected{% endif %}>Français</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">*{% trans %}Title{% endtrans %}</strong>
                                <label for="input_title">{% trans %}What is the title of the experience lived or to be reported?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='title' id='input_title' value="{{ submission.title }}" required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="select-thematic-area"><b>*{% trans %}Collection{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class='form-control selectpicker' id='select-thematic-area' name='thematic-area[]' data-size="5" data-width="fit" data-live-search="true" title="{% trans %}Select one or more collections{% endtrans %}" multiple required>
                                        {% for ta in thematic_area %}
                                            <option value="{{ ta.id }}" {% if ta in submission.thematicArea %}selected{% endif %}>{{ ta.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">*{% trans %}Experience Status{% endtrans %}</strong>
                                <label for="select-status">{% trans %}What is the current status of the experience?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-status' name='status' data-size="5" data-live-search="true" required>
                                    <option value="">-</option>
                                    {% for key, value in status %}
                                        <option value="{{ key }}" {% if submission.status == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group hide">
                                <label for="input_other_status"><b>*{% trans %}Other Status{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='other_status' id='input_other_status' value="{{ submission.otherStatus }}">
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Period{% endtrans %}</h2>
                            <h4>{% trans %}Indicate the period of implementation of the experience to be reported{% endtrans %}</h4>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="input-start-date"><b>*{% trans %}Start Date{% endtrans %} (YYYY-MM-DD):</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class='form-control' id='input-start-date' name='start-date' value='{% if submission.startDate %}{{ submission.startDate|date("Y-m-d") }}{% endif %}' required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="input-end-date">{% trans %}If the practice was completed, please indicate the date{% endtrans %} (YYYY-MM-DD):</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class='form-control' id='input-end-date' name='end-date' value='{% if submission.endDate %}{{ submission.endDate|date("Y-m-d") }}{% endif %}'>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="input-partial-date">{% trans %}If the practice was discontinued, please indicate the date{% endtrans %} (YYYY-MM-DD):</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class='form-control' id='input-partial-date' name='partial-date' value='{% if submission.partialDate %}{{ submission.partialDate|date("Y-m-d") }}{% endif %}'>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="input_other_date">{% trans %}Other, please specify{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='other_date' id='input_other_date' value="{{ submission.otherDate }}">
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Notes{% endtrans %}</strong>
                                <label for="textarea-notes">{% trans %}Use this field to detail or justify your choice about the current situation of the reported experience and to specify the period of implementation of the practice{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="6" class="form-control" name='notes' id='textarea-notes'>{{ submission.notes }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $( "#select-status" ).on( "change", function() {
                var val = $(this).val();
                if ( 'F' == val ) {
                    $("#input_other_status").parent().removeClass("hide");
                    $("#input_other_status").prop('required',true);
                } else {
                    $("#input_other_status").parent().addClass("hide");
                    $("#input_other_status").prop('required',false);
                }
            });

            $("#input-start-date").mask("9999-99-99");
            $("#input-end-date").mask("9999-99-99");
            $("#input-partial-date").mask("9999-99-99");
        });
    </script>
{% endblock %}
