{% extends "::base.html.twig" %}

{% block title %}{% if submission.protocol.status == 'S' %}{% trans %}Edit experience{% endtrans %}{% else %}{% trans %}New submission{% endtrans %}{% endif %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% if submission.protocol.status == 'S' %}{% trans %}Edit experience{% endtrans %}{% else %}{% trans %}New submission{% endtrans %}{% endif %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form id="form-first-created" class='form' method='POST' action='{{ path("submission_new_first_created_protocol_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-first-step-created') }}"/>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="select-language"><b>*{% trans %}Language{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-language' name='language' data-size="5" required>
                                    <option value="">-</option>
                                    <option value="pt_BR" {% if submission.language == 'pt_BR' %}selected{% endif %}>Português</option>
                                    <option value="es_ES" {% if submission.language == 'es_ES' %}selected{% endif %}>Español</option>
                                    <option value="en" {% if submission.language == 'en' %}selected{% endif %}>English</option>
                                    <option value="fr_FR" {% if submission.language == 'fr_FR' %}selected{% endif %}>Français</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">*{% trans %}Experience title{% endtrans %}</strong>
                                <label for="input_title">{% trans %}What is the title of the experience to be reported?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='title' id='input_title' value="{{ submission.title }}" required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="select-collection"><b>*{% trans %}Collection{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class='form-control selectpicker' id='select-collection' name='collection[]' data-size="5" data-width="fit" data-live-search="true" title="{% trans %}Select one or more collections{% endtrans %}" multiple required>
                                        {% for col in collection %}
                                            <option value="{{ col.id }}" data-slug="{{ col.slug }}" {% if col in submission.collection %}selected{% endif %}>{{ col.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="select-thematic-area"><b>*{% trans %}Thematic area{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class='form-control selectpicker' id='select-thematic-area' name='thematic-area[]' data-size="5" data-width="fit" data-live-search="true" title="{% trans %}Select one or more thematic areas{% endtrans %}" multiple required>
                                        {% for ta in thematic_area %}
                                            <option value="{{ ta.id }}" data-col="{{ ta.collection.slug }}" {% if ta in submission.thematicArea %}selected{% endif %}>{{ ta.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">*{% trans %}Experience status{% endtrans %}</strong>
                                <label for="select-status">{% trans %}What is the current status of the experience?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-status' name='status' data-size="5" data-live-search="true" required>
                                    <option value="">-</option>
                                    {% for key, value in status %}
                                        <option value="{{ key }}" {% if submission.status == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="input-start-date"><b>*{% trans %}Start date{% endtrans %} (YYYY-MM-DD):</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class='form-control' id='input-start-date' name='start-date' value='{% if submission.startDate %}{{ submission.startDate|date("Y-m-d") }}{% endif %}' required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-6">
                            <label for="input-end-date"><b>*{% trans %}End date{% endtrans %} (YYYY-MM-DD) {% trans %}and/or current{% endtrans %}:</b></label>
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <div class="form-group row">
                                <div class="col-xs-9">
                                    <input type="text" class='form-control' id='input-end-date' name='end-date' value='{% if submission.endDate %}{{ submission.endDate|date("Y-m-d") }}{% endif %}' required>
                                </div>
                                <div class="checkbox input-checkbox">
                                    <input type="checkbox" id='input-current-date' name='current_date' value="true" {% if submission.isCurrentDate %}checked{% endif %}>
                                    <label for="input-current-date">{% trans %}Current date{% endtrans %}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            var _options = $("#select-thematic-area option");

            $('#select-thematic-area.selectpicker').on('loaded.bs.select', function(e) {
                var options = $("#select-thematic-area option");
                options.sort(function(a,b) {
                    if (a.text > b.text) return 1;
                    else if (a.text < b.text) return -1;
                    else return 0;
                });
                $("#select-thematic-area").empty().append(options).selectpicker("refresh");
            });

            $('#select-collection.selectpicker').on('loaded.bs.select', function(e) {
                var options = $("#select-collection option");
                options.sort(function(a,b) {
                    if (a.text > b.text) return 1;
                    else if (a.text < b.text) return -1;
                    else return 0;
                });
                $("#select-collection").empty().append(options).selectpicker("refresh");
            });

            $('#select-collection').on('changed.bs.select loaded.bs.select', function(e) {
                var options = [];
                var col_list = [];

                $("#select-collection :selected").map(function(i, el) {
                    var slug = $(el).data('slug');
                    col_list.push(slug);
                });

                if (col_list.length === 0) {
                    options = _options;
                } else {
                    _options.map(function(i, el) {
                        var col = $(el).data('col');
                        if($.inArray(col, col_list) !== -1) {
                            options.push(el);
                        }
                    });
                }

                if ('changed' == e.type) $('#select-thematic-area').selectpicker('val', '');
                $("#select-thematic-area").empty().append(options).selectpicker("refresh");
            });

            var icheck = $('#input-current-date').iCheck('update')[0].checked;

            if ( icheck ) {
                $('#input-end-date').prop('disabled', true).val('');
            }

            $('#input-current-date').on('ifClicked', function(event){
                var val = $(this).is(':checked');
                if ( val ) {
                    $('#input-end-date').prop('disabled', false);
                } else {
                    $('#input-end-date').prop('disabled', true).val('');
                }
            });

            $("#input-start-date").mask("9999-99-99");
            $("#input-end-date").mask("9999-99-99");
        });
    </script>
{% endblock %}
