{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}

    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        <div class='row'>
            <div class='col-md-12'>
                <ul class="nav nav-tabs" id='new-submission-tab'>
                    <li role="presentation" class='active'><a href="javascript:void(0)" title="{% trans %}Identification{% endtrans %}">{% trans %}Identification{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Description{% endtrans %}">{% trans %}Description{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Experience{% endtrans %}">{% trans %}Experience{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Team{% endtrans %}">{% trans %}Team{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Other Information{% endtrans %}">{% trans %}Other Information{% endtrans %}</a></li>
                    <li role="presentation"><a href="javascript:void(0)" title="{% trans %}Revision{% endtrans %}">{% trans %}Revision{% endtrans %}</a></li>
                </ul>
            </div>
        </div>

        <div class='new-submission-tab-content'>
            <div class='row submission-meta'></div>
            <form id="form-first" class='form' method='POST' action='{{ path("submission_new_first_step") }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-first-step') }}"/>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Identification{% endtrans %}</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="select-language">{% trans %}Language{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-language' name='language' data-size="5" required>
                                    <option value="">-</option>
                                    <option value="pt_BR" {% if app.request.locale == 'pt_BR' %}selected{% endif %}>Português</option>
                                    <option value="es_ES" {% if app.request.locale == 'es_ES' %}selected{% endif %}>Español</option>
                                    <option value="en" {% if app.request.locale == 'en' %}selected{% endif %}>English</option>
                                    <option value="fr_FR" {% if app.request.locale == 'fr_FR' %}selected{% endif %}>Français</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="input_title">{% trans %}What is the title of the experience lived or to be reported?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='title' id='input_title' value='{% if post_data.title %}{{ post_data.title }}{% endif %}' required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="select-thematic-area">{% trans %}Thematic Area{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class='form-control selectpicker' id='select-thematic-area' name='thematic-area[]' data-size="5" data-width="fit" data-live-search="true" title="{% trans %}Select one or more PICS{% endtrans %}" multiple required>
                                        {% for ta in thematic_area %}
                                            <option value="{{ ta.id }}" {% if ta in post_data.thematic-area %}selected{% endif %}>{{ ta.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label for="select-status">{% trans %}What is the current status of the experience?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <select class='form-control selectpicker' id='select-status' name='status' data-size="5" data-live-search="true" required>
                                    <option value="">-</option>
                                    {% for key, value in status %}
                                        <option value="{{ key }}" {% if post_data.status == key %}selected{% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group hide required">
                                <label for="input_other_status">{% trans %}Other Status{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='other_status' id='input_other_status' value="{% if post_data.other_status %}{{ post_data.other_status }}{% endif %}">
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Period{% endtrans %}</h2>
                            <h4>{% trans %}Indicate the period of implementation of the experience to be reported{% endtrans %}</h4>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label for="input-start-date">{% trans %}Start Date{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class='form-control datepicker' id='input-start-date' name='start-date' value='{% if post_data.startDate %}{{ post_data.startDate|date("Y-m-d") }}{% endif %}' required>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="input-end-date">{% trans %}If the practice was completed, please indicate the date{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class='form-control datepicker' id='input-end-date' name='end-date' value='{% if post_data.endDate %}{{ post_data.endDate|date("Y-m-d") }}{% endif %}'>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="input-partial-date">{% trans %}If the practice was discontinued, please indicate the date{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 25} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class='form-control datepicker' id='input-partial-date' name='partial-date' value='{% if post_data.partialDate %}{{ post_data.partialDate|date("Y-m-d") }}{% endif %}'>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="input_other_date">{% trans %}Other, please specify{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 16} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='other_date' id='input_other_date' value="{% if post_data.other_date %}{{ post_data.other_date }}{% endif %}">
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="textarea-notes">{% trans %}Use this field to detail or justify your choice about the current situation of the reported experience and to specify the period of implementation of the practice{% endtrans %}:</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="6" class="form-control" name='notes' id='textarea-notes'>{% if post_data.notes %}{{ post_data.notes }}{% endif %}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $( "#select-status" ).on( "change", function() {
                var val = $(this).val();
                if ( 'F' == val ) {
                    $("#input_other_status").parent().removeClass("hide");
                    $("#input_other_status").prop('required',true);
                } else {
                    $("#input_other_status").parent().addClass("hide");
                    $("#input_other_status").prop('required',false);
                }
            });
        });
    </script>
{% endblock %}
