{% extends "::base.html.twig" %}

{% block title %}{% if submission.protocol.status == 'S' %}{% trans %}Edit experience{% endtrans %}{% else %}{% trans %}New submission{% endtrans %}{% endif %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% if submission.protocol.status == 'S' %}{% trans %}Edit experience{% endtrans %}{% else %}{% trans %}New submission{% endtrans %}{% endif %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id='form-fourth' action='{{ path("submission_new_fourth_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-fourth-step') }}"/>
                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Responsible{% endtrans %}</h2>
                            <h4>{% trans %}Who is the point of contact and responsible for the experience?{% endtrans %}</h4>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <table class='table table-hover table-condensed' id="table-responsible">

                                <thead>
                                    <tr>
                                        <th width="30%">{% trans %}Name{% endtrans %}</th>
                                        <th>{% trans %}Filiation{% endtrans %}</th>
                                        <th>{% trans %}Job{% endtrans %}</th>
                                        <th>{% trans %}Email{% endtrans %}</th>
                                        <th>{% trans %}Phone{% endtrans %}</th>
                                        <th width="20%">{% trans %}Curriculum{% endtrans %}</th>
                                        <th>{% trans %}ORCID{% endtrans %}</th>
                                        <th>{% trans %}Actions{% endtrans %}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for responsible in submission.responsible|sort((a, b) => b.name <=> a.name) %}
                                        <tr>
                                            <td>{{ responsible.name }}</td>
                                            <td>{{ responsible.filiation }}</td>
                                            <td>{{ responsible.job }}</td>
                                            <td>{{ responsible.email }}</td>
                                            <td>{{ responsible.phone }}</td>
                                            <td><a href="{{ responsible.curriculum }}" target="_blank">{{ responsible.curriculum }}</a></td>
                                            <td><a href="https://orcid.org/{{ responsible.orcid }}" target="_blank">{{ responsible.orcid }}</a></td>
                                            <td>
                                                {% if responsible.filename %}
                                                    <a href='{{ asset(responsible.fileUri) }}' target="_blank" class='btn btn-default btn-xs' data-toggle="tooltip" data-placement="top" title="{% trans %}See picture{% endtrans %}" target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                                                {% endif %}
                                                <a href="{{ path("submission_update_responsible", {submission_id: submission.id, responsible_id: responsible.id}) }}" data-toggle="modal" data-target="#modal-update-responsible" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a href='#' class='btn btn-default btn-xs button-delete-responsible' data-id='{{ responsible.id }}' data-toggle="modal" data-target="#modal-delete-responsible"><i class='glyphicon glyphicon-trash'></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-responsible">{% trans %}New Responsible{% endtrans %}</a>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Members{% endtrans %}</h2>
                            <h4>{% trans %}Who were the people directly involved with the implementation of the reported experience? And what was their level of involvement?{% endtrans %}</h4>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <table class='table table-hover table-condensed' id="table-members">

                                <thead>
                                    <tr>
                                        <th width="30%">{% trans %}Name{% endtrans %}</th>
                                        <th>{% trans %}Filiation{% endtrans %}</th>
                                        <th>{% trans %}Job{% endtrans %}</th>
                                        <th>{% trans %}Academic Formation{% endtrans %}</th>
                                        <th>{% trans %}Email{% endtrans %}</th>
                                        <th>{% trans %}Curriculum{% endtrans %}</th>
                                        <th>{% trans %}Actions{% endtrans %}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for member in submission.members|sort((a, b) => b.name <=> a.name) %}
                                        <tr>
                                            <td>{{ member.name }}</td>
                                            <td>{{ member.filiation }}</td>
                                            <td>{{ member.job }}</td>
                                            <td>{{ member.academicFormation }}</td>
                                            <td>{{ member.email }}</td>
                                            <td><a href="{{ member.curriculum }}" target="_blank">{{ member.curriculum }}</a></td>
                                            <td>
                                                <a href="{{ path("submission_update_member", {submission_id: submission.id, member_id: member.id}) }}" data-toggle="modal" data-target="#modal-update-member" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i></a>
                                                <a href='#' class='btn btn-default btn-xs button-delete-member' data-id='{{ member.id }}' data-toggle="modal" data-target="#modal-delete-member"'><i class='glyphicon glyphicon-trash'></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href='#' class='btn btn-default' data-toggle="modal" data-target="#modal-new-member">{% trans %}New Member{% endtrans %}</a>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Novo Responsável -->
    <div class="modal fade" id="modal-new-responsible" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form class='form' id='form-responsible' method='POST' enctype="multipart/form-data">
                <input type="hidden" name="token" value="{{ csrf_token('submission-fourth-step') }}"/>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Responsible{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-responsible-name">*{% trans %}Name{% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-responsible-name' name='responsible-name' required>
                        </div>

                        <div class="form-group">
                            <label for="input-responsible-filiation">*{% trans %}Filiation{% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-responsible-filiation' name='responsible-filiation' required>
                        </div>

                        <div class="form-group">
                            <label for="input-responsible-job">*{% trans %}Job{% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-responsible-job' name='responsible-job' required>
                        </div>

                        <div class="form-group">
                            <label for="input-responsible-email">*{% trans %}Email{% endtrans %}:</label>
                            <input type='email' class='form-control' id='input-responsible-email' name='responsible-email' required>
                        </div>

                        <div class="form-group">
                            <label for="input-responsible-phone">{% trans %}Phone{% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-responsible-phone' name='responsible-phone'>
                        </div>

                        <div class="form-group">
                            <label for="input-responsible-curriculum">{% trans %}Curriculum{% endtrans %}  {% trans %}(LinkedIn, Lattes, etc){% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-responsible-curriculum' name='responsible-curriculum'>
                        </div>

                        <div class="form-group">
                            <label for="input-responsible-orcid">{% trans %}ORCID{% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-responsible-orcid' name='responsible-orcid'>
                        </div>

                        <div class="form-group">
                            <label for="input-responsible-picture">{% trans %}Picture{% endtrans %}:</label>
                            <input type='file' class='form-control' name='responsible-picture' id='input-responsible-picture'>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary" id="submit-responsible-form">{% trans %}Save{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Novo Membro -->
    <div class="modal fade" id="modal-new-member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form class='form' id='form-member' method='POST'>
                <input type="hidden" name="token" value="{{ csrf_token('submission-fourth-step') }}"/>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}New Member{% endtrans %}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="input-member-name">*{% trans %}Name{% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-member-name' name='member-name' required>
                        </div>

                        <div class="form-group">
                            <label for="input-member-filiation">{% trans %}Filiation{% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-member-filiation' name='member-filiation'>
                        </div>

                        <div class="form-group">
                            <label for="input-member-job">{% trans %}Job{% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-member-job' name='member-job'>
                        </div>

                        <div class="form-group">
                            <label for="input-member-academic-formation">{% trans %}Academic Formation{% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-member-academic-formation' name='member-academic-formation'>
                        </div>

                        <div class="form-group">
                            <label for="input-member-email">{% trans %}Email{% endtrans %}:</label>
                            <input type='email' class='form-control' id='input-member-email' name='member-email'>
                        </div>

                        <div class="form-group">
                            <label for="input-member-curriculum">{% trans %}Curriculum{% endtrans %}  {% trans %}(LinkedIn, Lattes, etc){% endtrans %}:</label>
                            <input type='text' class='form-control' id='input-member-curriculum' name='member-curriculum'>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary" id="submit-member-form">{% trans %}Save{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Atualizar Responsável -->
    <div class="modal fade" id="modal-update-responsible" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <!-- Modal Atualizar Membro -->
    <div class="modal fade" id="modal-update-member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão Responsável -->
    <div class="modal fade" id="modal-delete-responsible" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-responsible'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-fourth-step') }}"/>
                <input type="hidden" name="delete-responsible-id" id='hidden-delete-responsible' value="" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Responsible{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this responsible?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal Confirmar Exclusão Membro -->
    <div class="modal fade" id="modal-delete-member" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form method="POST" id='form-delete-member'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-fourth-step') }}"/>
                <input type="hidden" name="delete-member-id" id='hidden-delete-member' value="" />

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans %}Delete Member{% endtrans %}</h4>
                    </div>

                    <div class="modal-body">
                        <p>{% trans %}Do you confirm the exclusion of this member?{% endtrans %}</p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                        <button type="submit" class="btn btn-danger">{% trans %}Confirm{% endtrans %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#table-responsible").on("click", ".button-delete-responsible", function(e){
            var id = $(this).data('id');
            $("#hidden-delete-responsible").val(id);
        });

        $('#modal-delete-responsible').on('hidden.bs.modal', function () {
            $("#hidden-delete-responsible").val("");
        });

        $("#table-members").on("click", ".button-delete-member", function(e){
            var id = $(this).data('id');
            $("#hidden-delete-member").val(id);
        });

        $('#modal-delete-member').on('hidden.bs.modal', function () {
            $("#hidden-delete-member").val("");
        });

        $("#input-responsible-phone").mask("(99) 9999?9-9999").focusout(function (event) {
            var target, phone, element;
            target = (event.currentTarget) ? event.currentTarget : event.srcElement;
            phone = target.value.replace(/\D/g, '');
            element = $(target);
            element.unmask();
            if(phone.length > 10) {
                element.mask("(99) 99999-999?9");
            } else {
                element.mask("(99) 9999-9999?9");
            }
        });
    </script>
{% endblock %}
