{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id='form-second' action='{{ path("submission_new_second_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-second-step') }}"/>
                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">*{% trans %}Issue{% endtrans %}/{% trans %}Situation{% endtrans %}</strong>
                                <label for="textarea-description">{% trans %}What was the core problem or health situation that the experience sought to address and resolve?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="6" class="form-control" name='description' id='textarea-description' required>{{ submission.description }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Population{% endtrans %}</strong>
                                <label for="select-population-group">{% trans %}Which population was involved and/or benefited from this experience?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class='form-control selectpicker' id='select-population-group' name='population_group[]' data-size="5" data-width="fit" data-live-search="true" title="{% trans %}Choose one of the following...{% endtrans %}" multiple>
                                        {% for pg in population_group %}
                                            <option value="{{ pg.id }}" data-slug="{{ pg.slug }}" {% if pg in submission.populationGroup %}selected{% endif %}>{{ pg.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="input_other_population_group"><b>{% trans %}Other population{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='other_population_group' id='input_other_population_group' value="{{ submission.otherPopulationGroup }}">
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">*{% trans %}Objectives{% endtrans %}/{% trans %}Expected results{% endtrans %}</strong>
                                <label for="textarea-objectives">{% trans %}What were the main expected or promised results when you planned to implement the experiment or when the experiment you are reporting was proposed?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="6" class="form-control" name='objectives' id='textarea-objectives' required>{{ submission.objectives }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Resources{% endtrans %}</strong>
                                <label for="textarea-resources">{% trans %}What resources were needed and used to implement the experience you are reporting? (Human resources, inputs, materials, equipment, infrastructure, money, etc.){% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="6" class="form-control" name='resources' id='textarea-resources'>{{ submission.resources }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">*{% trans %}Context{% endtrans %}</strong>
                                <label for="textarea-context">{% trans %}In what location or context was the experience implemented?{% endtrans %}</label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <textarea rows="6" class="form-control" name='context' id='textarea-context' required>{{ submission.context }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="select-country"><b>{% trans %}Country{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 21} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <div>
                                    <select class='form-control selectpicker' id='select-country' name='country' data-size="5" data-width="50%" data-live-search="true">
                                        <option value="">-</option>
                                        {% for country in countries %}
                                            <option value="{{ country.id }}" {% if submission.country.id == country.id %}selected{% endif %}>{{ country.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="input_region"><b>{% trans %}State{% endtrans %}/{% trans %}Region{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='region' id='input_region' value="{{ submission.region }}">
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="input_city"><b>{% trans %}City{% endtrans %}:</b></label>
                                <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 3} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                                <input type="text" class="form-control" name='city' id='input_city' value="{{ submission.city }}">
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Descriptors{% endtrans %}</strong>
                                <label for="input_descriptors">{% trans %}Select at least 3 DeCS descriptors (Health Sciences Descriptors) to represent the theme of experience{% endtrans %}:</label>
                                <input type="text" class="form-control" name='descriptors' id='input_descriptors' placeholder="{% trans %}insert descriptors here{% endtrans %}" value="{{ submission.descriptors }}">
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Keywords{% endtrans %}</strong>
                                <label for="input_title">{% trans %}Keywords that represent the themes or issues related to the reported experience{% endtrans %}:</label>
                                <input type="text" class="form-control" name='keywords' id='input_keywords' placeholder="{% trans %}insert keywords here{% endtrans %}" value="{{ submission.keywords }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){
            // $('[name=keywords]').tagify();
            var element = document.querySelector('[name=keywords]');
            new Tagify(element);

            // $('[name=descriptors]').tagify();
            var descriptors = document.querySelector('[name=descriptors]');
            new Tagify(descriptors);

            $('.selectpicker').selectpicker({
                multipleSeparator: '; '
            }).on('changed.bs.select', function() {
                $(this).selectpicker('refresh');
            });

            $('#select-country.selectpicker').on('loaded.bs.select', function(e) {
                var options = $("#select-country option");

                options.sort(function(a,b) {
                    if (a.text > b.text) return 1;
                    else if (a.text < b.text) return -1;
                    else return 0;
                });

                $("#select-country").empty().append(options).selectpicker("refresh");
            });

            $('#select-population-group.selectpicker').on('loaded.bs.select', function(e) {
                var options = $("#select-population-group option");

                options.sort(function(a,b) {
                    if (a.text > b.text) return 1;
                    else if (a.text < b.text) return -1;
                    else return 0;
                });

                $("#select-population-group").empty().append(options).selectpicker("refresh");
            });

            $('#select-population-group').on('changed.bs.select loaded.bs.select', function(e) {
                var pg_list = [];

                $("#select-population-group :selected").map(function(i, el) {
                    var slug = $(el).data('slug');
                    pg_list.push(slug);
                });

                if( $.inArray("others", pg_list) !== -1 && pg_list.length == 1 ) {
                    $("#input_other_population_group").parent().removeClass("hide");
                    // $("#input_other_population_group").prop('required',true);
                } else {
                    $("#input_other_population_group").parent().addClass("hide");
                    // $("#input_other_population_group").prop('required',false);
                }
            });
        });
    </script>
{% endblock %}
