{% extends "::base.html.twig" %}

{% block title %}{% trans %}New submission{% endtrans %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}New submission{% endtrans %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' action='{{ path("submission_new_seventh_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-seventy-step') }}"/>
                <input type='hidden' name='submission_id' value='{{ submission.id }}'>
                <input type='hidden' name='accept-terms' value="off">

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Revision{% endtrans %}:</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <table class='table table-hover table-condensed table-bordered'>

                                <thead>
                                    <tr>
                                        <th class='center'>{% trans %}Fields{% endtrans %}</th>
                                        <th class='center'>{% trans %}Check{% endtrans %}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for revision in revisions %}
                                        <tr class='{% if not revision.status %}error{% endif %}'>
                                            <td>{{ revision.text }}</td>
                                            {% if revision.status %}
                                                <td class='center'><i class='glyphicon glyphicon-ok'></i></td>
                                            {% else %}
                                                <td class='center'><i class='glyphicon glyphicon-remove'></i></td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <h2 class='sub-header'>{% trans %}Terms and conditions{% endtrans %}:</h2>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for='input-accept-terms'>
                                        <input type='checkbox' name='accept-terms' id='input-accept-terms'>
                                        {% trans %}I agree with the{% endtrans %} <a href="https://politicas.bireme.org/terminos/en/index.html" target="_blank">{% trans %}Terms of Use{% endtrans %}</a> {% trans %}and{% endtrans %} <a href="https://politicas.bireme.org/privacidad/en/index.html" target="_blank">{% trans %}Privacy Policy{% endtrans %}</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <ul>
                                    <li>{% trans %}All contributions must be original. Contributors warrant that they have the necessary rights, including the necessary licenses, for the use of any copyrighted material in the submission. Furthermore, contributors warrant that all necessary permissions and consents have been obtained for all materials depicting identifiable human subjects.{% endtrans %}</li>
                                    <li>{% trans %}By submitting a contribution, contributors grant PAHO and related partners a free perpetual non-exclusive license to use, edit and publish the contribution for noncommercial purposes.{% endtrans %}</li>
                                    <li>{% trans %}Contributors agree to identify, defend, and hold PAHO and related partners harmless from any actions or claims brought against them pertaining to the alleged infringement arising in connection with the contribution.{% endtrans %}</li>
                                    <li>{% trans %}PAHO and related partners reserve the right, at their sole discretion, to determine which contributions will be included in the portal or used in other institutional material.{% endtrans %}</li>
                                    <li>{% trans %}By submitting this contribution, contributors confirm that they have read, understood, and accepted these conditions.{% endtrans %}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class='submission-button-controls'>
                    <a href='{{ path("submission_generate_pdf", {submission_id: submission.id}) }}' class='btn btn-default' target='_blank'>{% trans %}Create PDF{% endtrans %}</a>
                    {% if final_status %}
                        {% if submission.isTranslation %}
                            <a href='{{ path("submission_new_first_translation_protocol_step", {submission_id: submission.originalSubmission.id}) }}' class='btn btn-default'>{% trans %}Submit translation{% endtrans %}</a>
                        {% else %}
                            <!-- <a href='{{ path("submission_new_first_translation_protocol_step", {submission_id: submission.id}) }}' class='btn btn-default'>{% trans %}Submit translation{% endtrans %}</a> -->
                        {% endif %}
                    {% endif %}
                    {% if submission.isTranslation %}
                        <a href='{{ path("submission_new_seventh_step", {submission_id: submission.originalSubmission.id}) }}' class='btn btn-default'>{% trans %}Back to original to save and finish{% endtrans %}</a>
                    {% else %}
                        <button type='submit' class='btn btn-primary {% if not final_status %}disabled{% endif %}'>{% trans %}Save and finish{% endtrans %}</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){

        });
    </script>
{% endblock %}
