<html>
    <head>
        <meta charset="UTF-8">
        <style>
            h1 {
                text-align: center;
            }
            h2, h3 {
                border-top: 2px solid #000;
                margin: 30px 0 10px 0;
            }
            table {
                width: 100%;
                border-spacing : 0;
                border-bottom: 1px solid #000;
                border-right: 1px solid #000;
            }
            table td, table th {
                border: 1px solid #000;
                border-bottom: none;
                border-right: none;
                margin: 0;
                padding: 3px;
            }
            footer {
                margin: 40px 0 0 0;
                text-align: right;
                font-size: 9pt;
            }
            div p {
                line-height: 1 !important;
                margin: 0 !important;
            }
            img {
                width: 100%;
                max-width: 200px;
            }
            .code-highlight {
                font-family: Consolas, "Courier New", monospace;
                border: 1px solid #000;
                padding: 1rem;
            }
        </style>
    </head>
    <body>
        <h1>{{ submission.title }}</h1>

        {% if protocol_code %}
            <h3>{% trans %}Code{% endtrans %}</h3>
            <p>{{ protocol_code[:8] }}</p>
        {% endif %}

        <h3>{% trans %}Collection{% endtrans %}:</h3>
        <p>{{ submission.collectionList|join('; ') }}</p>

        <h3>{% trans %}Thematic Area{% endtrans %}:</h3>
        <p>{{ submission.thematicAreaList|join('; ') }}</p>

        {% if submission.otherThematicArea %}

            <h3>{% trans %}Other thematic area{% endtrans %}:</h3>
            <p>{{ submission.otherThematicArea }}</p>

        {% endif %}

        <h3>{% trans %}Experience Status{% endtrans %}:</h3>
        <p>{{ status[submission.status] }}</p>

        {% if submission.status == "F" %}

            <h3>{% trans %}Other Status{% endtrans %}:</h3>
            <p>{{ submission.otherStatus }}</p>

        {% endif %}

        <h3>{% trans %}Start Date{% endtrans %}:</h3>
        <p>{{ submission.startDate|date("Y-m-d") }}</p>

        {% if not submission.isCurrentDate %}

            <h3>{% trans %}End Date{% endtrans %}:</h3>
            <p>{{ submission.endDate|date("Y-m-d") }}</p>
            
        {% endif %}

        <h3>{% trans %}Country{% endtrans %}:</h3>
        <p>{{ submission.country.name }}</p>

        <h3>{% trans %}State{% endtrans %}/{% trans %}Region{% endtrans %}:</h3>
        <p>{{ submission.region }}</p>

        <h3>{% trans %}City{% endtrans %}:</h3>
        <p>{{ submission.city }}</p>

        <h3>{% trans %}Location{% endtrans %}:</h3>
        <p>{{ submission.context }}</p>

        <h3>{% trans %}Population{% endtrans %}:</h3>
        <p>{{ submission.populationGroup|join('; ') }}</p>

        {% if submission.otherPopulationGroup %}

            <h3>{% trans %}Other Population{% endtrans %}:</h3>
            <p>{{ submission.otherPopulationGroup }}</p>

        {% endif %}

        <h3>{% trans %}Descriptors{% endtrans %}:</h3>
        <p>{{ submission.descriptorsList|join('; ') }}</p>

        <h3>{% trans %}Keywords{% endtrans %}:</h3>
        <p>{{ submission.keywordsList|join('; ') }}</p>

        <h2>{% trans %}Experience Details{% endtrans %}</h2>

        <h3>{% trans %}Issue{% endtrans %}/{% trans %}Situation{% endtrans %}:</h3>
        <p>{{ submission.description }}</p>

        <h3>{% trans %}Objectives{% endtrans %}/{% trans %}Expected results{% endtrans %}:</h3>
        <p>{{ submission.objectives }}</p>

        <h3>{% trans %}Resources{% endtrans %}:</h3>
        <p>{{ submission.resources }}</p>

        <h3>{% trans %}Main Results{% endtrans %}/{% trans %}Impacts{% endtrans %}:</h3>
        <p>{{ submission.mainResults }}</p>

        <h3>{% trans %}Challenges{% endtrans %}:</h3>
        <p>{{ submission.challengesInformation }}</p>

        <h3>{% trans %}Lessons Learned{% endtrans %}:</h3>
        <p>{{ submission.lessonsLearned }}</p>

        <h2>{% trans %}Team{% endtrans %}</h2>

        <h3>{% trans %}Responsible{% endtrans %}</h3>
        <table>
            <tr>
                <th width="30%">{% trans %}Name{% endtrans %}</th>
                <th width="10%">{% trans %}Filiation{% endtrans %}</th>
                <th width="10%">{% trans %}Job{% endtrans %}</th>
                <th width="10%">{% trans %}Email{% endtrans %}</th>
                <th width="10%">{% trans %}Phone{% endtrans %}</th>
                <th width="20%">{% trans %}Curriculum{% endtrans %}</th>
                <th width="10%">{% trans %}ORCID{% endtrans %}</th>
            </tr>

            {% for resp in submission.responsible %}
                <tr>
                    <td>{{ resp.name }}</td>
                    <td>{{ resp.filiation }}</td>
                    <td>{{ resp.job }}</td>
                    <td>{{ resp.email }}</td>
                    <td>{{ resp.phone }}</td>
                    <td style="word-break: break-all;"><a href="{{ resp.curriculum }}" target="_blank">{{ resp.curriculum }}</a></td>
                    <td><a href="https://orcid.org/{{ resp.orcid }}" target="_blank">{{ resp.orcid }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <h3>{% trans %}Members{% endtrans %}</h3>
        <table>
            <tr>
                <th width="30%">{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Filiation{% endtrans %}</th>
                <th>{% trans %}Job{% endtrans %}</th>
                <th>{% trans %}Academic Formation{% endtrans %}</th>
                <th>{% trans %}Email{% endtrans %}</th>
                <th>{% trans %}Curriculum{% endtrans %}</th>
            </tr>

            {% for member in submission.members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.filiation }}</td>
                    <td>{{ member.job }}</td>
                    <td>{{ member.academicFormation }}</td>
                    <td>{{ member.email }}</td>
                    <td style="word-break: break-all;"><a href="{{ member.curriculum }}" target="_blank">{{ member.curriculum }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <h2>{% trans %}Files{% endtrans %}</h2>

        <h3>{% trans %}Fulltext{% endtrans %}:</h3>
        <p>{{ submission.fullText }}</p>

        <table>
            <tr>
                <th>{% trans %}File{% endtrans %}</th>
                <th width="50%">{% trans %}Date{% endtrans %}</th>
            </tr>

            {% for file in submission.attachments if file.uploadType.slug == 'document' %}
                <tr style="text-align: center;">
                    <td><a href='{{ absolute_url(asset(file.uri)) }}' target="_blank">{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</a></td>
                    <td>{{ file.created|date("d/m/Y H:i:s") }}</td>
                </tr>
            {% endfor %}
        </table>
{#
        <h3>{% trans %}More documents{% endtrans %}:</h3>
        {% for url in submission.otherDocsList %}
            <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
        {% endfor %}
#}
        <h3>{% trans %}Images{% endtrans %}:</h3>
        <table>
            <tr>
                <th>{% trans %}File{% endtrans %}</th>
                <th width="50%">{% trans %}Date{% endtrans %}</th>
            </tr>

            {% for file in submission.attachments if file.uploadType.slug == 'image' %}
                <tr style="text-align: center;">
                    <td><a href='{{ absolute_url(asset(file.uri)) }}' target="_blank">{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</a></td>
                    <td>{{ file.created|date("d/m/Y H:i:s") }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>{% trans %}Videos{% endtrans %}:</h3>
        <table>
            <tr>
                <th>{% trans %}File{% endtrans %}</th>
                <th width="50%">{% trans %}Date{% endtrans %}</th>
            </tr>

            {% for file in submission.attachments if file.uploadType.slug == 'video' %}
                <tr style="text-align: center;">
                    <td><a href='{{ absolute_url(asset(file.uri)) }}' target="_blank">{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</a></td>
                    <td>{{ file.created|date("d/m/Y H:i:s") }}</td>
                </tr>
            {% endfor %}
        </table>
{#
        {% if submission.otherVideos %}

            <h3>{% trans %}Video embed code{% endtrans %}:</h3>
            <p class="code-highlight">{{ submission.otherVideos }}</p>

        {% endif %}
#}
        <h3>{% trans %}Other medias{% endtrans %}:</h3>
        <table>
            <tr>
                <th>{% trans %}File{% endtrans %}</th>
                <th width="50%">{% trans %}Date{% endtrans %}</th>
            </tr>

            {% for file in submission.attachments if file.uploadType.slug == 'others' %}
                <tr style="text-align: center;">
                    <td><a href='{{ absolute_url(asset(file.uri)) }}' target="_blank">{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</a></td>
                    <td>{{ file.created|date("d/m/Y H:i:s") }}</td>
                </tr>
            {% endfor %}
        </table>
{#
        <h3>{% trans %}More medias{% endtrans %}:</h3>
        {% for url in submission.otherMediasList %}
            <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
        {% endfor %}
#}
        <h2>{% trans %}Other Information{% endtrans %}</h2>

        <h3>{% trans %}Event where the experience was presented{% endtrans %}:</h3>
        <p>{{ submission.event }}</p>

        <h3>{% trans %}Products, materials and publications{% endtrans %}:</h3>
        <p>{{ submission.productsInformation|nl2br }}</p>

        <h3>{% trans %}Related Links{% endtrans %}:</h3>
        {% for url in submission.relatedLinksList %}
            <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
        {% endfor %}

        <h3>{% trans %}Notes{% endtrans %}:</h3>
        <p>{{ submission.notes }}</p>

        <footer>{% trans %}Created in{% endtrans %} {{ "now"|date("d/m/Y H:i:s") }}</footer>
    </body>
</html>
