<html>
    <head>
        <meta charset="UTF-8">
        <style>
            h1 {
                text-align: center;
            }
            h2, h3 {
                border-top: 2px solid #000;
                margin: 30px 0 10px 0;
            }
            table {
                width: 100%;
                border-spacing : 0;
                border-bottom: 1px solid #000;
                border-right: 1px solid #000;
            }
            table td, table th {
                border: 1px solid #000;
                border-bottom: none;
                border-right: none;
                margin: 0;
                padding: 3px;
            }
            footer {
                margin: 40px 0 0 0;
                text-align: right;
                font-size: 9pt;
            }
            div p {
                line-height: 1 !important;
                margin: 0 !important;
            }
            img {
                width: 100%;
                max-width: 200px;
            }
        </style>
    </head>
    <body>
        <h1>{{ submission.title }}</h1>

        {% if protocol_code %}
            <h3>{% trans %}Code{% endtrans %}</h3>
            <p>{{ protocol_code }}</p>
        {% endif %}

        <h3>{% trans %}Thematic Area{% endtrans %}:</h3>
        <p>{{ submission.thematicAreaList|join('; ') }}</p>

        <h3>{% trans %}Status{% endtrans %}:</h3>
        <p>{{ status[submission.status] }}</p>

        {% if submission.status == "F" %}

            <h3>{% trans %}Other Status{% endtrans %}:</h3>
            <p>{{ submission.otherStatus }}</p>

        {% endif %}

        <h3>{% trans %}Start Date{% endtrans %}:</h3>
        <p>{{ submission.startDate|date("Y-m-d") }}</p>

        {% if submission.endDate %}

            <h3>{% trans %}End Date{% endtrans %}:</h3>
            <p>{{ submission.endDate|date("Y-m-d") }}</p>

        {% endif %}

        {% if submission.partialDate %}

            <h3>{% trans %}Suspension Date{% endtrans %}:</h3>
            <p>{{ submission.partialDate|date("Y-m-d") }}</p>

        {% endif %}

        {% if submission.otherdate %}

            <h3>{% trans %}Other, please specify{% endtrans %}:</h3>
            <p>{{ submission.otherdate }}</p>

        {% endif %}

        <h3>{% trans %}Notes{% endtrans %}:</h3>
        <p>{{ submission.notes }}</p>

        <h3>{% trans %}Issue{% endtrans %}:</h3>
        <p>{{ submission.description }}</p>

        <h3>{% trans %}Population{% endtrans %}:</h3>
        <p>{{ submission.populationGroup|join('; ') }}</p>

        {% if submission.otherPopulationGroup %}

            <h3>{% trans %}Other Population{% endtrans %}:</h3>
            <p>{{ submission.otherPopulationGroup }}</p>

        {% endif %}

        <h3>{% trans %}Objectives{% endtrans %}:</h3>
        <p>{{ submission.objectives }}</p>

        <h3>{% trans %}Resources{% endtrans %}:</h3>
        <p>{{ submission.resources }}</p>

        <h3>{% trans %}Context{% endtrans %}:</h3>
        <p>{{ submission.context }}</p>

        <h3>{% trans %}Main Results{% endtrans %}:</h3>
        <p>{{ submission.mainResults }}</p>

        <h3>{% trans %}Challenges{% endtrans %}:</h3>
        <p>{{ submission.challengesInformation }}</p>

        <h3>{% trans %}Other Results{% endtrans %}:</h3>
        <p>{{ submission.otherResults }}</p>

        <h3>{% trans %}Lessons Learned{% endtrans %}:</h3>
        <p>{{ submission.lessonsLearned }}</p>

        <h3>{% trans %}Responsible{% endtrans %}</h3>
        <table>
            <tr>
                <th width="30%">{% trans %}Name{% endtrans %}</th>
                <th width="20%">{% trans %}Filiation{% endtrans %}</th>
                <th width="10%">{% trans %}Email{% endtrans %}</th>
                <th width="10%">{% trans %}Phone{% endtrans %}</th>
                <th width="20%">{% trans %}Curriculum{% endtrans %}</th>
                <th width="10%">{% trans %}ORCID{% endtrans %}</th>
            </tr>

            {% for resp in submission.responsible %}
                <tr>
                    <td>{{ resp.name }}</td>
                    <td>{{ resp.filiation }}</td>
                    <td>{{ resp.email }}</td>
                    <td>{{ resp.phone }}</td>
                    <td style="word-break: break-all;"><a href="{{ resp.curriculum }}" target="_blank">{{ resp.curriculum }}</a></td>
                    <td><a href="https://orcid.org/{{ resp.orcid }}" target="_blank">{{ resp.orcid }}</a></td>
                </tr>
            {% endfor %}
        </table>

        <h3>{% trans %}Members{% endtrans %}</h3>
        <table>
            <tr>
                <th width="30%">{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Academic Formation{% endtrans %}</th>
                <th>{% trans %}Professional Category{% endtrans %}</th>
                <th>{% trans %}Institution{% endtrans %}</th>
                <th>{% trans %}Responsibility{% endtrans %}</th>
            </tr>

            {% for member in submission.members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.academicFormation }}</td>
                    <td>{{ member.professionalCategory }}</td>
                    <td>{{ member.institution }}</td>
                    <td>{{ member.responsibility }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>{% trans %}Medias{% endtrans %}:</h3>
        <table>
            <tr>
                <th>{% trans %}File{% endtrans %}</th>
                <th>{% trans %}File name{% endtrans %}</th>
                <th width="20%">{% trans %}Date{% endtrans %}</th>
            </tr>

            {% for file in submission.attachments %}
                <tr style="text-align: center;">
                    <td>
                        <a href='{{ home_url }}{{ asset(file.uri) }}' target="_blank">
                            <img src="{{ home_url }}{{ asset(file.uri) }}" alt="{% if file.uploadType.slug in ['protocol'] %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}" />
                        </a>
                    </td>
                    <td>{% if file.uploadType.slug in ['protocol'] %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                    <td>{{ file.created|date("d/m/Y H:i:s") }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>{% trans %}Other Medias{% endtrans %}:</h3>
        {% for url in submission.otherMediasLinks %}
            <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
        {% endfor %}

        <h3>{% trans %}Products{% endtrans %}:</h3>
        <p>{{ submission.productsInformation|nl2br }}</p>
{#
        <h3>{% trans %}Products{% endtrans %}:</h3>
        {% for url in submission.productsInformationLinks %}
            <p><a href="{{ url }}" target="_blank">{{ url }}</a></p>
        {% endfor %}
#}
        <h3>{% trans %}Keywords{% endtrans %}:</h3>
        <p>{{ submission.keywordsList|join('; ') }}</p>

        <footer>{% trans %}Created in{% endtrans %} {{ "now"|date("d/m/Y H:i:s") }}</footer>
    </body>
</html>
