{% extends "::base.html.twig" %}

{% block title %}{% if submission.protocol.status == 'S' %}{% trans %}Edit experience{% endtrans %}{% else %}{% trans %}New submission{% endtrans %}{% endif %}{% endblock %}

{% block content %}
    <div class="container-fluid main-content">
        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% if submission.protocol.status == 'S' %}{% trans %}Edit experience{% endtrans %}{% else %}{% trans %}New submission{% endtrans %}{% endif %}</h1>
            </div>
        </div>

        {% include 'Proethos2CoreBundle:NewSubmission:meta.html.twig' %}

        <div class='new-submission-tab-content'>
            <form class='form' method='POST' id="form-sixth" action='{{ path("submission_new_sixth_step", {submission_id: submission.id}) }}'>

                <input type="hidden" name="token" value="{{ csrf_token('submission-sixth-step') }}"/>
                <input type='hidden' name='submission_id' value='{{ submission.id }}'>

                <div class='block'>
                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Event where the experience was presented{% endtrans %}</strong>
                                <label for="textarea-event">{% trans %}Provide the name of the event where this experience was presented{% endtrans %}:</label>
                                <textarea rows="6" class="form-control summernote" name='event' id='textarea-event'>{{ submission.event }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Products, materials and publications{% endtrans %}</strong>
                                <label for="textarea-products-information">{% trans %}Use this field to share documents, publications, materials or news related to your experience{% endtrans %}:</label>
                                <textarea rows="6" class="form-control summernote" name='products_information' id='textarea-products-information'>{{ submission.productsInformation }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Related links{% endtrans %}</strong>
                                <label for="textarea-related-links">{% trans %}Include website links related to the reported experience{% endtrans %} ({% trans %}hyperlinks only{% endtrans %}):</label>
                                <textarea rows="6" class="form-control" name='related_links' id='textarea-related-links' placeholder="{% trans %}Please add one hyperlink per line{% endtrans %}">{{ submission.relatedLinks }}</textarea>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class="col-md-12">
                            <div class="form-group">
                                <strong class="field-label">{% trans %}Notes{% endtrans %}</strong>
                                <label for="textarea-notes">{% trans %}Free space for any observation and/or additional information{% endtrans %}:</label>
                                <textarea rows="6" class="form-control summernote" name='notes' id='textarea-notes'>{{ submission.notes }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='submission-button-controls'>
                    <button type='submit' class='btn btn-primary'>{% trans %}Save and next{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(function(){

        });
    </script>
{% endblock %}
