<div class='block'>
    <div class='row'>
        <div class="col-md-12">
            <h2 class='protocol-data sub-header toggle-block'>
                <small class='pull-right'>
                    <i class='glyphicon glyphicon-minus'></i>
                </small>
                {% trans %}Details{% endtrans %}:
            </h2>
        </div>
    </div>

    <div class='row' id="protocol-data">
        <div class="col-md-12">
            {% if protocol.code %}
                <b>{% trans %}Code{% endtrans %}</b>
                <p>{{ protocol.code[:8] }}</p>
                
                <hr />
            {% endif %}

            <b>{% trans %}Collection{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.collectionList|join('; ') }}</p>

            <hr />

            <b>{% trans %}Thematic Area{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.thematicAreaList|join('; ') }}</p>

            <hr />

            {% if protocol.mainSubmission.otherThematicArea %}

                <b>{% trans %}Other thematic area{% endtrans %}:</b>
                <p>{{ protocol.mainSubmission.otherThematicArea }}</p>

                <hr />

            {% endif %}

            <b>{% trans %}Experience Status{% endtrans %}:</b>
            <p>{{ status[protocol.mainSubmission.status] }}</p>

            <hr />

            {% if protocol.mainSubmission.status == "F" %}

                <b>{% trans %}Other Status{% endtrans %}:</b>
                <p>{{ protocol.mainSubmission.otherStatus }}</p>

                <hr />

            {% endif %}

            <b>{% trans %}Start date{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.startDate|date("Y-m-d") }}</p>

            <hr />

            {% if not protocol.mainSubmission.isCurrentDate %}

                <b>{% trans %}End date{% endtrans %}:</b>
                <p>{{ protocol.mainSubmission.endDate|date("Y-m-d") }}</p>

                <hr />

            {% endif %}

            <b>{% trans %}Country{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.country.name }}</p>

            <hr />

            <b>{% trans %}State{% endtrans %}/{% trans %}Region{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.region }}</p>

            <hr />

            <b>{% trans %}City{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.city }}</p>

            <hr />

            <b>{% trans %}Location{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.context }}</p>

            <hr />

            <b>{% trans %}Population{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.populationGroup|join('; ') }}</p>

            <hr />

            {% if protocol.mainSubmission.otherPopulationGroup %}

                <b>{% trans %}Other Population{% endtrans %}:</b>
                <p>{{ protocol.mainSubmission.otherPopulationGroup }}</p>

                <hr />

            {% endif %}

            <b>{% trans %}Descriptors{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.descriptorsList|join('; ') }}</p>

            <hr />

            <b>{% trans %}Keywords{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.keywordsList|join('; ') }}</p>

            <hr />

            {# <h5>{% trans %}Experience Details{% endtrans %}</h5> #}

            <b>{% trans %}Issue{% endtrans %}/{% trans %}Situation{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.description }}</p>

            <hr />

            <b>{% trans %}Objectives{% endtrans %}/{% trans %}Expected results{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.objectives }}</p>

            <hr />

            <b>{% trans %}Resources{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.resources }}</p>

            <hr />

            <b>{% trans %}Main Results{% endtrans %}/{% trans %}Impacts{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.mainResults }}</p>

            <hr />

            <b>{% trans %}Challenges{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.challengesInformation }}</p>

            <hr />

            <b>{% trans %}Lessons Learned{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.lessonsLearned }}</p>

            <hr />

            {# <h5>{% trans %}Team{% endtrans %}</h5> #}

            <table class='table table-hover table-condensed'>
                <thead>
                    <tr><th>{% trans %}Responsible{% endtrans %}:</th></tr>
                    <tr>
                        <th width="30%">{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Filiation{% endtrans %}</th>
                        <th>{% trans %}Job{% endtrans %}</th>
                        <th>{% trans %}Email{% endtrans %}</th>
                        <th>{% trans %}Phone{% endtrans %}</th>
                        <th width="20%">{% trans %}Curriculum{% endtrans %}</th>
                        <th>{% trans %}ORCID{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for resp in protocol.mainSubmission.responsible|sort((a, b) => b.name <=> a.name %}
                        <tr>
                            <td>{{ resp.name }}</td>
                            <td>{{ resp.filiation }}</td>
                            <td>{{ resp.job }}</td>
                            <td>{{ resp.email }}</td>
                            <td>{{ resp.phone }}</td>
                            <td style="word-break: break-all;"><a href="{{ resp.curriculum }}" target="_blank">{{ resp.curriculum }}</a></td>
                            <td><a href="https://orcid.org/{{ resp.orcid }}" target="_blank">{{ resp.orcid }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr />

            <table class='table table-hover table-condensed'>
                <thead>
                    <tr><th>{% trans %}Members{% endtrans %}:</th></tr>
                    <tr>
                        <th width="30%">{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Filiation{% endtrans %}</th>
                        <th>{% trans %}Job{% endtrans %}</th>
                        <th>{% trans %}Academic Formation{% endtrans %}</th>
                        <th>{% trans %}Email{% endtrans %}</th>
                        <th>{% trans %}Curriculum{% endtrans %}</th>
                    </tr>
                </thead>

                <tbody>
                {% for member in protocol.mainSubmission.members|sort((a, b) => b.name <=> a.name %}
                    <tr>
                        <td>{{ member.name }}</td>
                        <td>{{ member.filiation }}</td>
                        <td>{{ member.job }}</td>
                        <td>{{ member.academicFormation }}</td>
                        <td>{{ member.email }}</td>
                        <td style="word-break: break-all;"><a href="{{ member.curriculum }}" target="_blank">{{ member.curriculum }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <hr />

            {# <h5>{% trans %}Files{% endtrans %}</h5> #}

            <table class='table table-hover table-condensed'>
                <thead>
                    <tr><th>{% trans %}Fulltext{% endtrans %}:</th></tr>
                    {% if protocol.mainSubmission.fullText %}
                        <tr>
                            <td colspan="3">
                                <a class="show-fulltext" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">{% trans %}Show fulltext{% endtrans %}</a>
                                <div class="collapse" id="collapseExample">
                                    <br />
                                    <div class="well">
                                        {{ protocol.mainSubmission.fullText }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>{% trans %}File name{% endtrans %}</th>
                        <th>{% trans %}Date & Time{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in protocol.mainSubmission.attachments if file.uploadType.slug == 'document' %}
                        <tr>
                            <td>{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                            <td>{{ file.created|date("d/m/Y H:i") }}</td>
                            <td>
                                <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr />
{#
            <b>{% trans %}More documents{% endtrans %}:</b>
            <ol>
            {% for url in protocol.mainSubmission.otherDocsList %}
                <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
            {% endfor %}
            </ol>

            <hr />
#}
            <table class='table table-hover table-condensed'>
                <thead>
                    <tr><th>{% trans %}Images{% endtrans %}:</th></tr>
                    <tr>
                        <th>{% trans %}File name{% endtrans %}</th>
                        <th>{% trans %}Date & Time{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in protocol.mainSubmission.attachments if file.uploadType.slug == 'image' %}
                        <tr>
                            <td>{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                            <td>{{ file.created|date("d/m/Y H:i") }}</td>
                            <td>
                                <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr />

            <table class='table table-hover table-condensed'>
                <thead>
                    <tr><th>{% trans %}Videos{% endtrans %}:</th></tr>
                    <tr>
                        <th>{% trans %}File name{% endtrans %}</th>
                        <th>{% trans %}Date & Time{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in protocol.mainSubmission.attachments if file.uploadType.slug == 'video' %}
                        <tr>
                            <td>{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                            <td>{{ file.created|date("d/m/Y H:i") }}</td>
                            <td>
                                <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr />

            {% if protocol.mainSubmission.otherVideos %}

                <b>{% trans %}Video embed code{% endtrans %}:</b>
                <p class="video-embed">{{ protocol.mainSubmission.otherVideos|raw }}</p>

                <hr />

            {% endif %}

            <table class='table table-hover table-condensed'>
                <thead>
                    <tr><th>{% trans %}Other medias{% endtrans %}:</th></tr>
                    <tr>
                        <th>{% trans %}File name{% endtrans %}</th>
                        <th>{% trans %}Date & Time{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in protocol.mainSubmission.attachments if file.uploadType.slug == 'others' %}
                        <tr>
                            <td>{% if file.uploadType.slug == 'protocol' %}{{ file.simpleFilename }}{% else %}{{ file }}{% endif %}</td>
                            <td>{{ file.created|date("d/m/Y H:i") }}</td>
                            <td>
                                <a href='{{ asset(file.uri) }}' class='btn btn-default btn-xs' target="_blank"><i class='glyphicon glyphicon-eye-open'></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr />
{#
            <b>{% trans %}More medias{% endtrans %}:</b>
            <ol>
            {% for url in protocol.mainSubmission.otherMediasList %}
                <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
            {% endfor %}
            </ol>

            <hr />
#}
            {# <h5>{% trans %}Other Information{% endtrans %}</h5> #}

            <b>{% trans %}Event where the experience was presented{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.event }}</p>

            <hr />

            <b>{% trans %}Products, materials and publications{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.productsInformation|nl2br }}</p>

            <hr />

            <b>{% trans %}Related Links{% endtrans %}:</b>
            <ol>
            {% for url in protocol.mainSubmission.relatedLinksList %}
                <li><a href="{{ url }}" target="_blank">{{ url }}</a></li>
            {% endfor %}
            </ol>

            <hr />

            <b>{% trans %}Notes{% endtrans %}:</b>
            <p>{{ protocol.mainSubmission.notes }}</p>

            <hr />
        </div>
    </div>
</div>

{% if 'secretary' in app.user.rolesSlug and 'protocol_show_protocol' == app.request.attributes.get('_route') and protocol.isPublic %}
    <div class='block action'>
        
        <!-- action update -->
        <form method="POST" id='form-action-update'>
                
            <input type="hidden" name="token" value="{{ csrf_token('show-protocol') }}"/>

            <div class='row'>
                <div class="col-md-12">
                    <h2 class='sub-header'>{% trans %}Actions{% endtrans %}:</h2>
                </div>
            </div>

            <div class='row'>
                <div class="col-md-2">
                    <div class="form-group">
                        <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 125} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                        <select class="form-control select2" id="select-final-decision-update" name="final-decision" required>
                            {% for key, option in finish_options %}
                                <option value="{{ key }}" {% if protocol.status == key %}selected{% endif %}>{{ option|trans }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='submission-button-controls col-md-12'>
                    <button class='btn btn-primary' id='btn-update-review' data-toggle='modal' data-target='#modal-update-confirm' disabled>{% trans %}Save{% endtrans %}</button>
                </div>
            </div>
        </form>

    </div>

    <!-- Modal Confirm -->
    <div class="modal fade" id="modal-update-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Confirm?{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}Are you sure that you want to update this experience?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-success" id='update-review-submit'>{% trans %}Confirm{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}

{% block script %}
    <script>
        $(function(){
            $('#collapseExample').on('show.bs.collapse', function () {
                var text = "{% trans %}Hide fulltext{% endtrans %}";
                $(".show-fulltext").text(text);
            });

            $('#collapseExample').on('hide.bs.collapse', function () {
                var text = "{% trans %}Show fulltext{% endtrans %}";
                $(".show-fulltext").text(text);
            });

            $("body").on("change", "#select-final-decision-update", function(e){
                var val = $(this).val();
                var status = '{{ protocol.status }}';
                if ( val != status ) {
                    $('#btn-update-review').prop("disabled", false);
                } else {
                    $('#btn-update-review').prop("disabled", true);
                }
            });

            $("body").on("click", "#btn-update-review", function(e){
                e.preventDefault();
            });

            $("body").on("click", "#update-review-submit", function(e){
                $("#form-action-update").submit();
            });
        });
    </script>
{% endblock %}
