<div class='block meta'>

    <div class="row">
        <div class="col-md-12">
            <h2 class="sub-header titulo">
                {{ protocol.mainSubmission.title }}
                {% if protocol.mainSubmission.isClinicalTrial %}<small>({% trans %}clinical trial{% endtrans %})</small>{% endif %}
            </h2>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-3'>
            <div class='label'>{% trans %}Identification{% endtrans %}</div>
            <h3>{{ '%06d'|format(protocol.id) }}</h3>
        </div>

        <div class='col-md-3'>
            <div class='label'>{% trans %}Best Practice{% endtrans %}</div>
            <h3>{{ protocol.code }}</h3>
        </div>

        <div class='col-md-3'>
            <div class='label'>{% trans %}Best Practice Type{% endtrans %}</div>
            <h3>{{ protocol.mainSubmission.type.name }}</h3>
        </div>

        <div class='col-md-3'>
            <div class='label'>{% trans %}Status{% endtrans %}</div>
            <h3>{{ protocol.statusLabel|trans }}</h3>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-3'>
            <div class='label'>{% trans %}Respondent Name{% endtrans %}</div>
            <h3>{{ protocol.mainSubmission.owner.name }}</h3>
        </div>

        <div class='col-md-3'>
            <div class='label'>{% trans %}Contact{% endtrans %}</div>
            <h3>{{ protocol.mainSubmission.owner.email }}</h3>
        </div>

        <div class='col-md-3'>
            <div class='label'>{% trans %}Country{% endtrans %}</div>
            <h3>{{ protocol.mainSubmission.owner.country }}</h3>
        </div>

        <div class='col-md-3'>
            <div class='label'>{% trans %}Job Title{% endtrans %}</div>
            <h3>{{ protocol.mainSubmission.owner.jobTitle }}</h3>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-3'>
            <div class='label'>{% trans %}Accepted in{% endtrans %}</div>
            <h3>{% if protocol.dateInformed %}{{ protocol.dateInformed|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>

        <div class='col-md-3'>
            <div class='label'>{% trans %}Updated in{% endtrans %}</div>
            <h3>{% if protocol.updatedIn %}{{ protocol.updatedIn|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>

        <div class='col-md-3'>
            <div class='label'>{% trans %}Revised in{% endtrans %}</div>
            <h3>{% if protocol.revisedIn %}{{ protocol.revisedIn|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>

        <div class='col-md-3'>
            <div class='label'>{% trans %}Decision in{% endtrans %}</div>
            <h3>{% if protocol.decisionIn %}{{ protocol.decisionIn|date("d/m/Y") }}{% else %}-{% endif %}</h3>
        </div>
    </div>

</div>
