{% extends "::base.html.twig" %}

{% block title %}{% trans %}Analyze Experience{% endtrans %}{% endblock %}

{% block content %}
    
    <div class="container-fluid main-content see-submission">

        <div class="row">
            <div class='col-md-12'>
                <h1 class="page-header">{% trans %}Analyze Experience{% endtrans %}</h1>
            </div>
        </div>
        
        {% include 'Proethos2CoreBundle:Protocol:meta.html.twig' %}

        <!-- action -->
        <form method="POST" id='form-action'>
            
            <input type="hidden" name="token" value="{{ csrf_token('analyze-protocol') }}"/>
            
            <div class='block action'>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Notes{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-12">
                        <div class="form-group" id='textarea-notes'>
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 128} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <textarea rows="6" class="form-control" id="textarea-notes" name='notes'>{{ protocol.notes }}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class='block action'>
                <div class='row'>
                    <div class="col-md-12">
                        <h2 class='sub-header'>{% trans %}Actions{% endtrans %}:</h2>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-md-2">
                        <div class="form-group">
                            <a class="help-text" href="{{ path("crud_admin_help_show", {help_id: 125} ) }}" data-toggle="modal" data-target="#modal-help"><i class='glyphicon glyphicon-question-sign'></i></a>
                            <select class="form-control select2" id="select-final-decision" name="final-decision" required>
                                <option value="">-</option>
                                {% for key, option in finish_options %}
                                    <option value="{{ key }}" {% if protocol.status == key %}selected{% endif %}>{{ option|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='submission-button-controls col-md-12'>
                    <button class='btn btn-primary' id='btn-save-review'>{% trans %}Save{% endtrans %}</button>
                    <button class='btn btn-primary hide' id='btn-end-review' data-toggle='modal' data-target='#modal-confirm'>{% trans %}Save{% endtrans %}</button>
                </div>
            </div>
        </form>
        
    </div>

    <!-- Modal Confirm -->
    <div class="modal fade" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}Confirm?{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}Are you sure that you want to end this experience review?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                    <button type="button" class="btn btn-success" id='review-submit'>{% trans %}Confirm{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        $(function(){
            $("#select-final-decision").change(function(){
                var value = $(this).val();                
                if(value == "" || value == "V") {
                    // $("#btn-end-review").prop('disabled', true);
                    $("#btn-save-review").show();
                    $("#btn-end-review").addClass('hide');
                } else {
                    // $("#btn-end-review").prop('disabled', false);
                    $("#btn-save-review").hide();
                    $("#btn-end-review").removeClass('hide');
                }
            });

            $("body").on("click", "#btn-end-review", function(e){
                e.preventDefault();
            });

            $("body").on("click", "#review-submit", function(e){
                $("#form-action").submit();
            });
        });
    </script>
{% endblock %}
